.TitleCards {
  margin-top: 60px;
  animation: fadeIn 0.8s ease-in-out;
  z-index: 10;
  transition: all 0.3s ease;
  }


  @keyframes fadeIn {
    from {
     opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
   } 
  

.card-list {
  display: flex;
  overflow-x: scroll;
  gap: 40px;
}

.card {
  position: relative;

}
.card img {
  width: 334px;
  height: 210px;
  border-radius: 4px;
  object-fit: cover;
  border-radius: 4px;
}
.card-list .card p{
  position: absolute;
  bottom: 40px;
  text-decoration: none !important;
  font-weight: 600;
  font-size: 14px;
  color: #fff;

}


.btn-like {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
}

.card-list::-webkit-scrollbar{
  display: none;
}
.btn-like  svg {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
  z-index: 15;
 }
 
 .btn-show-movie {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e50914; 
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-show-movie:hover {
 background-color: #72060c;
}
 
 @media (max-width:800px) {
 .TitleCards{
  margin-top: 20px;
  margin-bottom: 0;
 }
 .TitleCards h2{
  font-size: 20px;
 }

 .card-list p {
  font-size: 12px;
 }}  

 .card {
  transition: all 0.3s ease;
  border: 0.1rem solid transparent;
  outline: none;
  }

  .card:focus {
  border: 0.1rem solid #ffff;
  border-radius: 4px;
  z-index: 30;
  
}

 .card.focused .btn-show-movie,
 .card:focus .btn-show-movie {
   display: inline-block;
  }

 /* .card-list {
   scroll-behavior: smooth;
 }   */

 .card-list .card {
  margin-right: 35px;
  scroll-snap-align:start;
  }

 .TitleCards.nav-highlight {
   border: 0.1rem transparent #fff;
   outline:none;
   position: relative;
   z-index: 20;
  } 
